*, ::before, ::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    line-height: 1.16;
    background-color: #FFFFFF;
    color: black;
    width: 100%;
    height: 100%;
}

a {
    color: black;
    text-decoration: none;  
}

h1 {
    text-transform: uppercase;
    line-height: 1.33;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

div[class*=_container] {
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    background-size: cover;
    max-width: 1200px;
}

button {
    display: flex;
    align-items:center;
    justify-content:center;

    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    background: #756257;
    color:#FFFFFF;

    transition: opacity 0.3s;
}

div[class*=_text] {
    font-size: 22px;
    line-height: 26px;
}

.header__container, .main__container, .footer__container {
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
    max-width: 1200;
    box-sizing: border-box;
    background-size: cover;
}

body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

.header, .main__container {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
/* Header */

.header .header__container {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items:center;
    padding: 0px 70px;
    font-weight: 700;
}

.header__menu-list {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 380px;
    height: 65px;
}

.header__menu_item-active {
    text-decoration: underline;
    color: #756257;
    text-underline-offset: 22px;
    text-decoration-thickness: 2px;
}

.header__item:focus {
    border: 3px solid #83B3D3;
    border-radius: 10px;
}

.header__item {
    color: black;
}

.header__item:hover {
    color: #756257;
}

.header__item:active {
    opacity: 0.2;
}

.header__btn {
    width: 160px;
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.header__btn:hover {
    background: #615048;
}

.header__btn:active {
    opacity: 0.2;
}

.header__btn:focus {
    border: 3px solid #83B3D3;
    border-radius: 4px;
}

.header__widgets {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 250px;
}

.header__widget:focus {
    border: 3px solid #83B3D3;
    border-radius: 10px;
}

.header__logo {
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    right: 0;
    left: 0;
}

/* main-title */

.main-board{
    position:relative;
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    height: 485px;
    margin: 0 auto;

    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.main-board__img-1 {
    margin-top: 50px;
}
.main-board__img-2 {
    margin-top: 10px;
    margin-bottom: 53px;
}

.main-board__img-3 {
    margin-bottom: 28px;
}

.main-board__img-4 {
    position: relative;
    width: 1200px;
}

/* slogan-description */

.slogan-description{
    min-height: 280px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 60px 250px 80px 250px;
}

.slogan-description__title {
    margin-bottom: 30px;
}

.slogan-description__text{
    font-size: 22px;
    color: #333333;
}

/* Content */
.content {
    height: 384px;
    display: flex;
    flex-direction: row;
    color:#FFFFFF;
}

.content__inf {
    width: 400px;
    height: 384px;
    box-sizing:border-box;
    gap: 25px;

    display: flex;
    flex-direction: column;

    padding: 90px 80px 80px 80px;
}

.content__inf-title {
    text-transform:uppercase;
    margin: 0;
    font-size: 24px;
    line-height: 1.17;
}

.content_font-color_black{
    color: black;
}

.content__inf_bg-color_c-dark {
    background-color: #68A2C2;
}

.content__inf_bg-color_c-light {
    background-color: #83B3D3;
}

.content__inf_bg-color_secondary-c-light-012 {
    background-color: rgba(130, 179, 211, 0.12);
}

.content__inf_bg-color_secondary-c-light-02 {
    background-color: rgba(130, 179, 211, 0.2);
}

.content__img {
    width: 75px;
    height: 72px;
    padding-left: 75px;
}

.content__bg-img {
    width: 780px;
}

/* find-hotel */

.find-hotel {
    padding: 90px 240px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-hotel__btn {
    margin-top: 60px;
    width: 575px;
    height: 60px;
    border-radius: 10px;
    border: none;
}

.find-hotel__btn:focus {
    border: 3px solid #83B3D3;
    border-radius: 10px;
}

.find-hotel__btn:hover {
    background: #615048;
    transition: 2s;
}

.find-hotel__btn:active {
    opacity: 0.2;
}

.find-hotel__title {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.find-hotel__text {
    color: #333333;
}
 /*Subscribe-form */

.subscribe{
    background-image: url("./images/bg_2.jpg");
    background-repeat: no-repeat;
    color:#FFFFFF;
}

.subscribe__container {
    padding: 95px 200px 95px 200px;
}

.subscribe__container-title {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.subscribe__container-text {
    font-size: 22px;
}

.subscribe__form{
    margin-top: 50px;
    position: relative;
    display: inline-block;
}
  
.subscribe__form-input{
    width: 800px;
    height: 58px;
    border-radius: 10px;
    border: 2px solid #f2f2f2;
    background-color: #f2f2f2;
    padding-left: 20px;
}

.subscribe__form-input:focus {
    border: 3px solid #83B3D3;
    background-color: #e5e5e5;
}

.subscribe__form-input:hover {
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
    transition: 2s;
}

.subscribe__form-input:active {
    border: 2px solid black;
    background-color: #ffffff;
}

.subscribe__form-button{
    width: 200px;
    height: 61px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border: 1px solid #83B3D3;
    background-color: #83B3D3;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
}

.subscribe__form-button:hover {
    border: 1px solid #68A2C2;
    background-color: #68A2C2;
    transition: 2s;
}

.subscribe__form-button:focus {
    border: 3px solid #756275;
    background-color: #68A2C2;
}

.subscribe__form-button:active {
    opacity: 0.2;
}

/* Footer */

.footer .footer__container {
    display: flex;
    justify-content: space-between;
    padding: 40px 70px;
    align-items: center;
}

.footer__phonenumber {
    font-size: 40px;
    line-height: 1.0;
}

.footer__links {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

/* Form */
.modal-wrapper{
    position:fixed;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.3);
    z-index:100;
}

.form-booking {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: #FFFFFF;
    width: 720px;
    height: 560px;

    box-sizing: border-box;
    padding: 60px 70px 70px 70px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: start;

    font-size: 18px;
    font-weight: 700;

    z-index: 2;
}

.input-date__name {
    margin-top: 40px;
}

.input-date__input {
    width: 410px;
    height: 50px;
    background-color: #F2F2F2;
    border: none;
    padding: 0 18px;
    margin-left: 20px;
    border-radius: 4px;
}

.form-booking__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-booking__title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.33;
    margin-right: 100px;
}

.form_booking p {
    font-size: 18px;
}

.form-booking__btn {
    width: 575px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: #83B3D3;
}

.input-num__input{
    width: 130px;
    height: 50px;
    background-color: #F2F2F2;
    border: none;
    padding: 0 19px;
    margin-left: 40px;
}

.input-num__input_1 {
    margin-right: 20px;
}

.number-input {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.number {
	display: inline-block;
	position: relative;
	width: 130px;
    height: 50px;
}
.number input[type="number"] {
	display: block;
	height: 50px;
	line-height: 2.22;
    font-size: 18px;
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
    background-color: #F2F2F2;
    border-radius: 5px;
    border: none;
}
.number input[type="number"]::-webkit-outer-spin-button,
.number input[type="number"]::-webkit-inner-spin-button {
	display: none;
}
.number-minus {
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 10px;
	width: 40px;
	padding: 0;
	display: block;
	border: none;
    background-color: #F2F2F2;
}
.number-plus {
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	width: 40px;
	padding: 0;
	display: block;
	text-align: center;
	border: none;
    background-color: #F2F2F2;
}
/*Анимация кнопки*/
.form-booking__close:hover {

}

.form-booking__close:focus {

}

.form-booking__close:active {
    
}

/*Анимация формы*/
.input-date__input:hover {
    background-color: #e5e5e5;
}

.input-date__input:focus {
    background-color: #e5e5e5;
    border: 3px solid #68A2C2;
}

.input-date__input:active {
    background-color: #ffffff;
    border: 2px solid black;
}

/*Анимация кнопки*/

.form-booking__btn:hover {
    background-color: #68A2C2;
}

.form-booking__btn:focus {
    border: 3px solid #756275;
    background-color: #68A2C2;
}

.form-booking__btn:active {
    background-color: #68A2C2;
    color: #e5dce5;
}

/*Всплывающая подсказка*/
.tooltip {
    position: relative;
    display: inline-block;
}
  
  /* Текст подсказки */
.tooltip .tooltiptext {
    visibility: hidden;
    padding: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    text-align: left;
    width: 210px;
    background-color: #333333;
    color: #fff;
    border-radius: 10px;

    position: absolute;
    z-index: 1;
    top: -520%;
    right: -123px;
}
    /* Подсказка стрелка */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 50%;
    margin-left: -7px;
    border-width: 10px;
    border-style: solid;
    border-color: #333333 transparent transparent transparent;
  }
  
  /* Отображение текста подсказки при наведении курсора мыши на контейнер подсказки */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }